.App {
	padding: 2rem;
}
.container {
	width: 50vw;
	max-height: 40vw;
	height: 40vw;
	border: 2px solid teal;
	margin: 0 auto;
	padding: 1rem;
}
.profileContainer {
	width: 80%;
	height: 60%;
	border: 1px solid black;
	margin: 2rem auto 0 auto;
	padding: 1rem;
}
p {
	font-size: 1.3rem;
	font-weight: bold;
}
button {
	background-color: teal;
	color: white;
	outline: none;
	border-radius: 1rem;
	padding: 1rem 3rem;
	margin: 0 auto;

	cursor: pointer;
}
.loginContainer {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}
